{{page-title "HomePage"}}
{{@model.name}}
<div class="container">
<h2 class="mb-4 mt-4">Available Schemes to apply</h2>
{{#each @model as |scheme_data|}}
<SchemeComponent @name={{scheme_data.name}} @description={{scheme_data.description}} @eligibility={{scheme_data.eligibility}}/>
{{/each}}
</div>
{{outlet}}